body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial;
	background: #eee;
	zoom: 1;
}


.content {
	margin: 10%;
}

.content > h1 {
	text-align: center;
}

.content > h2 {
	text-align: center;
}

p {
	color: green;
	text-align: center;
}

form {
	width: 100%;
	text-align: center;
}

form > table {
	display: inline;
	text-align: center;
}

.error {
	text-align: center;
	color: red;
}

button {
	border: 5px outset grey;
	border-radius: 20px;
	padding: 1%;
	max-width: 50%;
}
button:active {
	border-style: inset;
}

button:focus {
	outline: none;
}

button:hover {
	cursor: pointer
}

/* Custom scrollbar */
body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #f5f5f5;
}

body::-webkit-scrollbar {
	width: 12px;
	background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #ff4444;
}

.roster {
	margin: 0 auto;
}

.roster, .roster * {
	border: 1px solid black;
	border-collapse: collapse;
}

.roster tr td {
	background: white;
	padding: 5px;
}